.ant-layout-footer {
    background:#324258 !important;
    padding: 24px 50px;
    color: rgba(252, 252, 252, 0.65) !important;
    font-size: 14px;
    height:30vh;
    width: 100% !important;
    //position: absolute;/* for it to disappear under last body element */
    bottom: 0; 
}