html {
  height: 100% !important;              /* for the page to take full window height */
  box-sizing: border-box !important;    /* to have the footer displayed at the bottom of the page without scrolling */
}



body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
@font-face {
	font-family: "hubstaff-icons";
	src: url("./fonts/hubstaff-icons-517585124a198d25ad8c6d7f5eb1af415d67ce002ba317863aa744aad8ac26ce.woff2") format("woff2");
}
*,
*:before,
*:after {
  box-sizing: inherit !important;       /* enable the "border-box effect" everywhere */
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .container {
    width: 1170px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .ant-layout-header {
    background-color: #fff !important;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,1,0.2) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 8, 0.2) !important;
    font-size: 13px !important;
    width: 100% !important;
    top: 0 !important;
}

.ant-menu-item{
  color: #3c495a !important;
  font-size: 13px;
  font-family:inherit;
  font-weight: 500;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  color: #3c495a !important;
  background: #ffffff !important;
  font-weight: 500;
}

.ant-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  background: #f0f2f5;
  height: 100vh;
}

.ant-layout-footer {
  background:#324258 !important;
  padding: 24px 50px;
  color: rgba(252, 252, 252, 0.65) !important;
  font-size: 14px;
  height:30vh;
  width: 100% !important;
  //position: absolute;/* for it to disappear under last body element */
  bottom: 0; 
}

.logoApp {
  height: 21px;
  margin-top: -30px;
  width:157px;
}

.ant-input-affix-wrapper{
  margin-top: 30px !important;
}

.ant-row{
margin-top: 40px;
background-color: #f4f7fa;
position: relative; /* for the footer to move with the page size */
min-height: 100vh !important;
display: flex;
}

.ant-layout-content{
  background-color: #f4f7fa;
  position: relative; /* for the footer to move with the page size */
  //min-height: 100vh !important;
  overflow:auto;
}
.ant-avatar-image{
  top:-5px;
  right:-15px;
  left:2px;
}

.submenu-title-wrapper{
  font-size: 13px !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color: transparent !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
  color:#3c495a !important;
}

.ant-menu-item, .ant-menu-submenu-title{
  padding: 0px 10px !important;
}
.ant-input-affix-wrapper .ant-input{
  padding: 18px 24px;
  font-size: 14px !important;
  line-height: 1.3333333;
  border-radius: 4px;
  height: 54px;
}

.ant-input:hover{
  border-color: transparent !important;
}

.searchBar{
  box-shadow: 0 2px 4px rgba(0, 0, 1, 0.2) !important;
}

.ant-btn-primary{
  height: 54px !important;
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
  border-color: #3c9bfd !important;
  background-color: #3c9bfd !important;
  outline: none;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
  border-color: transparent !important;
}

.filters-sidebar{
  padding-right: 15px;
  display: block !important;
  opacity: 1;
  position: static !important;
  max-height: 100%;
}

.pull-left {
  float: left !important;
  font-weight: 500 !important;
}

.clear-link{
  float: right;
  text-transform: none;
  color: #79899d;
  font-weight: normal;
  font-size: 13px;
  margin-top: 1px;
}

.section-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 0 30px;
  margin-bottom: 25px;
}

.from-sidebar {
  border-bottom: 1px solid #ced9ee !important;
}

.filters-sidebar-inner{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.form-group{
  margin-bottom: 35px;
  overflow: auto;
}
.form-group label{
  font-size: 15px;
  font-weight: 500;
  width: 100%
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.labelName{
  float: left !important;
}
.clearAction:hover{
  cursor: pointer;
  color:#617b9c !important;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #56d48f !important;
  border-color: #56d48f !important;
}

.ant-checkbox-wrapper{
  display: inline-block !important;
  position: relative;
  line-height: 1.5 !important;
  margin-bottom: 8px !important;
}

.content-section{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,1,0.08);
  box-shadow: 0 1px 4px rgba(0,0,1,0.08);
  padding: 25px 30px;
  height: 100% !important;
  overflow: auto;
}

.ant-btn{
  width: 100% !important;
}

.ant-btn > i, .ant-btn > span{
  float: left;
  opacity: 0.8;
}

.ant-btn > .anticon{
  line-height: 2 !important;
  float: right !important;
}

.ant-dropdown{
  width:245px;
}

.ant-input-number {
  width:54px !important;
}

.minInputBox{
  float:left !important;
}

.limitter{
  display: inline-block;
  margin: 0 6px;
  color: #3c495a;
  margin-left: -42% !important;
}

.ant-slider{
  margin: 10px 12px 10px !important;
}

.ant-slider-track{
  background-color: #56d48f !important;
}

.ant-slider-handle{
  border: solid 2px #ffffff !important;
  box-shadow: 0 1px 4px rgba(0,0,1,0.50);
}

.ant-slider-handle:focus{
  box-shadow: 0 1px 4px rgba(0,0,1,0.50) !important;
}

.ant-slider-rail{
  background-color: #dfe6f1 !important;
}

.slideText{
  font-size: 14px !important;
  font-weight: 500 !important;
}

.signUpArea{
  height: 250px;
  background-color: #ffffff;
}

.timetrackerlogo{
  height: 90px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  opacity: 0.8;
}

.ant-col-12{
  margin-top: 1px !important;
  background-color: #ffffff;
  top:10px !important;
}

// .h5{
//   font-family: inherit;
//   font-weight: 500;
//   //line-height: 1.4;
//   color: inherit;
// }

.h4{
  color: rgba(0, 0, 0, 0.7) !important;
}
.hs-lead{
  color: #617083;
  font-size: 13px;
  margin-top: -7px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

.btn-primary {
  color: #ffffff;
  background-color: #55a8fd;
  border-color: #3c9bfd;
}

.btn-130 {
  min-width: 130px;
}

a{
  text-decoration: none !important;
}
a:hover {
  color: #ffffff;
}

.textInSignUp{
  color:#6dadf1;
  font-size: 12px;
  display: block;
  margin-top: 7px;
}

.sidebar-section {
  margin-top: 30px;
}

.section-subtitle-right {
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 0 30px;
  margin-bottom: 25px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.sidebar-job {
  margin-bottom: 20px;
}

.main-details {
  float: left;
  width: 100%;
  margin-top: 20px !important;
}

.row {
  min-width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.description {
  color: #7f92a9;
  font-size: 12px;
  padding-top: 10px;
  text-align: left;
}

.col-sm-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #3c495a;
  float: left;
  text-align: left;
}

.col-sm-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.text-right {
  text-align: right;
}

.pay-rate{
  font-size: 14px;
  font-weight: 500;
  color: #3c495a;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.col-sm-12 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.no-margin{
  margin: 0 !important;
}

.sort_by {
  //float: right;
  font-size: 13px;
  color: #617083;
}

.sort_by label {
  position: relative;
  vertical-align: middle;
  font-weight: normal;
  //margin-right: 10px;
  top: 7px;
  left:25%;
}

.sort-results-select {
  width: 135px;
  display: inline-block;
}

.custom-select-wrapper {
  padding: 0;
  margin: 0;
  //border: 1px solid #ced9ee;
  min-width: 120px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
  float: right;
}

.search-result {
  margin-bottom: 35px;
  color: #617083;
}

.main-details {
  width: 100%;
  float: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #ced9ee;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: #3c495a;
}

.margin-right-10 {
  margin-right: 10px;
}

.ant-tag {
  padding: 0 10px !important;
  border-radius: 12px !important;
  font-size: 13px;
  float:left;
}

.content-pay-rate {
  float: right;
  color: #3c495a;
  font-size: 16px;
  font-weight: 500;
}
.job-company {
  padding: 5px 0;
  float: left;
}

.is-inline-block {
  display: inline-block;
}

.margin-right-20 {
  margin-right: 20px;
}

a {
  color: #55a8fd;
  text-decoration: none;
}
.hi-agency:before {
  content: "\f105";
}

.hi-pin:before {
  content: "\f152";
}

.hi:before {
  display: inline-block;
  font: normal normal normal 14px/1 "hubstaff-icons";
  font-size: inherit;
  text-transform: none;
  vertical-align: text-top;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  line-height: 1.5;
}

.margin-right-20 {
  margin-right: 20px;
}

.text-success {
  color: #56d48f;
}

.profil-bio {
  float: left !important;
  text-align: left !important;
  line-height: 24px;
}

.push-bottom-10 {
  margin-top: 10px;
}

.push-bottom-20 {
  margin-top: 20px !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.pagination-container {
  text-align: center;
  position: relative;
  margin: 20px 0 10px;
  width: 590px;
  margin-right: auto;
  margin-left: auto;
}

.ant-pagination-item {
  border:none !important;
  background-color: transparent !important;
}

.ant-pagination-item-active {
  font-weight: 500;
  //color: white;
  background-color: #40a9ff !important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  border-radius: 50% !important;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
  color: white !important;
}

.ant-pagination-item-active a{
  color:white !important;
}
.ant-pagination-prev{
  float: left !important;
}

.ant-pagination-next{
  float: right !important;
}