.ant-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f0f2f5;
    height: 100vh;
}

.container {
    width: 1170px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
